.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  gap: 40px;
}

.apresentacao__conteudo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao__titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: var(--white);
  margin: 0;
}

.destaque {
  color: var(--verde); 
  font-size: 21px;
}

.apresentacao__descricao {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  font-size: 10px;
  line-height: 1.5;
  margin: 10px 0 -10px 0;
}

.apresentacao__botoes {

  justify-content: flex-start;
}

.apresentacao__botoes .botao {
  background-color: var(--verde);
  color: var(--white);
  padding: 3px 7px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 50;
  font-size: 10px;

  transition: background-color 0.3s ease;
}

.apresentacao__botoes .botao:hover {
  background-color: #3e7243;
}

.apresentacao__imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentacao__imagem img {
  width: 170px; 
  height:190px;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .apresentacao {
    margin-top: 9rem;
    padding: 40px 10%;
    gap: 60px;
  }

  .apresentacao__titulo {
    font-size: 50px;
  }

  .destaque {
    font-size: 50px;
  }

  .apresentacao__descricao {
    font-size: 16px;
  }

  .apresentacao__botoes .botao {
    font-size: 14px;
    padding: 8px 16px;
  }

  .apresentacao__imagem img {
    width: 60%;
    height: 10%;
  }
}
